<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{fileBean.id}' />
		<f:event type="preRenderView" listener='#{fileBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Create File" />

	<ui:define name="header">
		File
	</ui:define>

	<ui:define name="headerDetails">
		<ui:repeat value="#{fileBean.file.medicalHistories}"
			var="medicalHistory">
			<h:panelGroup rendered="#{medicalHistory.exist}">#{medicalHistory.disease}</h:panelGroup>
		</ui:repeat>
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty fileBean.id}'>
				Edit existing File
			</c:when>
			<c:otherwise>
				Create a new File  
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">

		<link rel="stylesheet" type="text/css"
			href="../resources/pages/css/file.css"></link>

		<h:form id="create" prependId="false">
			<h:messages globalOnly="true" styleClass="error" />

			<h:outputStylesheet name="css/attachment.css" />

			<c:choose>
				<c:when test='#{!empty fileBean.id}'>
					<h:link outcome="file-treatments" title="File Appointments"
						styleClass="a-right-arrows">
						<img src="../resources/right-arrow.png" class="right-arrows"></img>
						<f:param name="id" value="#{fileBean.id}" />
					</h:link>
				</c:when>
			</c:choose>

			<div class="row">

				<div class="col-md-6">
					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									for="fileBeanFileFileNumber" value="File Number: *" />
							</div>
							<div class="col-md-8">
								<h:inputText id="fileBeanFileFileNumber"
									styleClass="form-control" readonly="true"
									value="#{fileBean.file.fileNumber}" />
								<h:message for="fileBeanFileFileNumber" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label" for="fileBeanFileName"
									value="Name: *" />
							</div>
							<div class="col-md-8">
								<h:inputText maxlength="250" id="fileBeanFileName"
									styleClass="form-control" required="true"
									requiredMessage="The Name is Empty"
									value="#{fileBean.file.name}" />
								<h:message for="fileBeanFileName" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									for="fileBeanFileDateOfBirth" value="Date Of Birth:" />
							</div>
							<div class="col-md-8">
								<p:calendar id="fileBeanFileDateOfBirth"
									value="#{fileBean.file.dateOfBirth}" pattern="dd-MM-yyyy">
									<p:ajax update="fileBeanFileAge" />
								</p:calendar>
								<h:message for="fileBeanFileDateOfBirth" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label" for="fileBeanFileAge"
									value="Age:" />
							</div>
							<div class="col-md-8">
								<h:inputText id="fileBeanFileAge" styleClass="form-control"
									readonly="true" value="#{fileBean.file.age}" />
								<h:message for="fileBeanFileAge" styleClass="error" />
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label" for="fileBeanFileSex"
									value="Gender:" />
							</div>
							<div class="col-md-8 genderInputSwitch">
								<p:inputSwitch id="fileBeanFileSex" value="#{fileBean.male}"
									onLabel="Male" offLabel="Female" />
								<h:message for="fileBeanFileSex" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									for="fileBeanFileAddress" value="Address:" />
							</div>
							<div class="col-md-8">
								<h:inputText maxlength="250" id="fileBeanFileAddress"
									styleClass="form-control" value="#{fileBean.file.address}" />
								<h:message for="fileBeanFileAddress" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									for="fileBeanFilePhoneNumber" value="Phone Number:" />
							</div>
							<div class="col-md-8">
								<h:inputText maxlength="250" id="fileBeanFilePhoneNumber"
									styleClass="form-control" value="#{fileBean.file.phoneNumber}" />
								<h:message for="fileBeanFilePhoneNumber" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									for="fileBeanFileOccupation" value="Occupation:" />
							</div>
							<div class="col-md-8">
								<h:inputText maxlength="250" id="fileBeanFileOccupation"
									styleClass="form-control" value="#{fileBean.file.occupation}" />
								<h:message for="fileBeanFileOccupation" styleClass="error" />
							</div>
						</div>
					</div>
				</div>

			</div>

			<p:spacer></p:spacer>
			<p:separator></p:separator>

			<div class="col-md-12">
				<ui:repeat value="#{fileBean.file.medicalHistories}"
					var="medicalHistory">
					<div class="form-group">
						<div class="col-md-7">
							<h:outputLabel styleClass="control-label"
								value="#{medicalHistory.disease} ???" />
						</div>
						<div class="col-md-1 questionsInputSwitch">
							<p:inputSwitch onLabel="Yes" offLabel="No"
								value="#{medicalHistory.exist}">
								<p:ajax update="medication" />
							</p:inputSwitch>
						</div>
						<div class="col-md-4">
							<h:inputText id="medication" maxlength="250"
								styleClass="form-control #{medicalHistory.exist? 'border-red' : 'border-blue'}"
								value="#{medicalHistory.medication}" />
						</div>
					</div>
				</ui:repeat>
			</div>

			<p:spacer></p:spacer>
			<p:separator></p:separator>

			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<h:outputLabel for="fileBeanFileDetailsOfPayment"
							value="Details Of Payment:" />
					</div>
					<div class="col-md-10">
						<p:inputTextarea id="fileBeanFileDetailsOfPayment"
							maxlength="1000" styleClass="textArea"
							value="#{fileBean.file.detailsOfPayment}" />
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<h:outputLabel for="fileBeanFileNotes" value="Notes:" />
					</div>
					<div class="col-md-10">
						<p:inputTextarea id="fileBeanFileNotes" maxlength="1000"
							styleClass="textArea" value="#{fileBean.file.notes}" />
					</div>
				</div>
			</div>


			<p:spacer></p:spacer>
			<p:separator></p:separator>

			<ui:remove>
				<!-- 			<h:panelGroup rendered='#{!empty fileBean.id}'> -->
				<!-- 				<div class="row"> -->
				<!-- 					<div class="col-md-12"> -->
				<!-- 						<p:dataTable id="attachmentsDataTable" widgetVar="attachmentVar" -->
				<!-- 							rows="5" paginator="true" -->
				<!-- 							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" -->
				<!-- 							rowsPerPageTemplate="5,10,15,20,50" -->
				<!-- 							paginatorAlwaysVisible="false" paginatorPosition="bottom" -->
				<!-- 							value="#{fileBean.file.attachments}" var="attachment" -->
				<!-- 							rowKey="#{attachment.id}" rowIndexVar="index" editable="true" -->
				<!-- 							editMode="cell"> -->

				<!-- 							<f:facet name="header"> -->

				<!-- 								<h:outputText value="Attachments" -->
				<!-- 									styleClass="attachmentHeaderText" /> -->

				<!-- 								<p:fileUpload widgetVar="fileUploadVar" multiple="true" -->
				<!-- 									auto="true" styleClass="fileUploader hide" -->
				<!-- 									fileUploadListener="#{fileBean.handleFileUpload}" -->
				<!-- 									process="@this" update="attachmentsDataTable" /> -->

				<!-- 								<h:commandLink onclick="$('.fileUploader input').click()" -->
				<!-- 									styleClass="btn btn-primary white attachmentHeaderButton"> -->
				<!-- 									<f:ajax /> -->
				<!-- 									<i class="fa fa-plus white" /> -->
				<!-- 								</h:commandLink> -->

				<!-- 							</f:facet> -->

				<!-- 							<p:column id="index" width="50"> -->
				<!-- 								<h:outputText value="#{index+1}"></h:outputText> -->
				<!-- 							</p:column> -->

				<!-- 							<p:column id="actions" width="50"> -->
				<!-- 								<h:commandLink styleClass="btn btn-sm btn-danger white" -->
				<!-- 									action="#{fileBean.selectForDelete(attachment)}" -->
				<!-- 									onclick="PF('deleteAttachmentDialogVar').show()"> -->
				<!-- 									<i class="fa fa-trash white" /> -->
				<!-- 									<f:ajax /> -->
				<!-- 								</h:commandLink> -->
				<!-- 							</p:column> -->

				<!-- 							<p:column id="attachmentName" headerText="Name" -->
				<!-- 								filterMatchMode="contains" filterBy="#{attachment.fileName}" -->
				<!-- 								sortBy="#{attachment.fileName}" -->
				<!-- 								styleClass="attachmentName-column" width=""> -->
				<!-- 								<h:outputText value="#{attachment.fileName}" -->
				<!-- 									title="#{attachment.fileName}" /> -->
				<!-- 							</p:column> -->

				<!-- 							<p:column id="attachmentSize" headerText="Size" -->
				<!-- 								sortBy="#{attachment.size}" style="text-align: center"> -->
				<!-- 								<h:outputText value="#{attachment.sizeInMegaByte}" -->
				<!-- 									title="#{attachment.sizeInMegaByte}" /> -->
				<!-- 							</p:column> -->

				<!-- 							<p:column id="description" headerText="Description" -->
				<!-- 								filterMatchMode="contains" filterBy="#{attachment.description}" -->
				<!-- 								sortBy="#{attachment.description}" -->
				<!-- 								styleClass="attachmentDescription-column"> -->
				<!-- 								<h:inputText value="#{attachment.description}" -->
				<!-- 									styleClass="form-control" /> -->
				<!-- 							</p:column> -->

				<!-- 							<p:column id="notes" headerText="Notes" -->
				<!-- 								filterMatchMode="contains" filterBy="#{attachment.notes}" -->
				<!-- 								sortBy="#{attachment.notes}" styleClass="attachmentNotes-column"> -->
				<!-- 								<h:inputText value="#{attachment.notes}" -->
				<!-- 									styleClass="form-control" /> -->
				<!-- 							</p:column> -->

				<!-- 							<p:column width="50"> -->
				<!-- 								<h:commandLink action="#{fileBean.download(attachment)}" -->
				<!-- 									styleClass="btn btn-sm btn-primary"> -->
				<!-- 									<i class="fa fa-download white" /> -->
				<!-- 								</h:commandLink> -->

				<!-- 							</p:column> -->

				<!-- 						</p:dataTable> -->
				<!-- 					</div> -->
				<!-- 				</div> -->
				<!-- 			</h:panelGroup> -->
			</ui:remove>

			<div class="buttons">
				<h:commandLink value="Save" action='#{fileBean.update}'
					styleClass="btn btn-success" />
				<c:choose>
					<c:when test='#{!empty fileBean.id}'>
						<h:link value="Cancel" outcome="search"
							styleClass="btn btn-warning" />
						<h:commandLink value="Delete" styleClass="btn btn-danger"
							action="#{fileBean.selectForDelete(treatment)}"
							onclick="PF('deleteDialogVar').show()">
							<f:ajax />
						</h:commandLink>
					</c:when>
					<c:otherwise>
						<h:link value="Cancel" outcome="search"
							styleClass="btn btn-warning" />
					</c:otherwise>
				</c:choose>
			</div>

			<script src="../resources/pages/js/file.js" />

			<p:dialog id="deleteAttachmentDialog" draggable="false"
				closable="false" modal="true" height="50" width="310"
				resizable="false" widgetVar="deleteAttachmentDialogVar">

				<f:facet name="header">
					<h:outputText value="Confirm Deletion????" />
				</f:facet>

				<h:commandLink value="Ok" action="#{fileBean.deleteAttachment()}"
					onclick="PF('deleteAttachmentDialogVar').hide()"
					styleClass="btn btn-sm btn-primary popup-buttons">
					<f:ajax render="attachmentsDataTable" />
				</h:commandLink>
				<h:commandLink value="Cancel"
					styleClass="btn btn-sm btn-danger popup-buttons"
					onclick="PF('deleteAttachmentDialogVar').hide()">
					<f:ajax />
				</h:commandLink>
			</p:dialog>

			<p:dialog id="deleteDialog" draggable="false" closable="false"
				modal="true" height="50" width="300" resizable="false"
				widgetVar="deleteDialogVar">
				<f:facet name="header">
					<h:outputText value="Confirm Deletion????" />
				</f:facet>

				<h:commandLink value="Ok" action="#{fileBean.delete}"
					styleClass="btn btn-primary popup-buttons">
				</h:commandLink>
				<h:commandLink styleClass="btn btn-danger popup-buttons"
					onclick="PF('deleteDialogVar').hide()">
					<h:outputText value="Cancel" />
					<f:ajax />
				</h:commandLink>
			</p:dialog>
		</h:form>
	</ui:define>

</ui:composition>